

/* ------ CSS Format Einstellungen ------ */

/* Header, Body, Footer */
header {
  background-color: white;
  margin-top: 2%;
  padding: 1%;
}
body {
  background-color: white;
  clear: both;
  padding: 1%;
  margin: 1%;
  font: 80% Verdana;
}
footer {
  background-color:#f2e07847;
  padding-top:1.5%;
  padding-bottom: 0.5%;
  margin: 1%;
  font-size:90%;
  text-align: center;
}

/* Allgemeines */
.mittig {
  width:100%;
  display: flex;
  /* horizontal */
  justify-content: center;
  /* vertikal */
  align-items: center;
}
p { 
  color: rgb(0, 0, 0); 
}
h1 { 
  color: rgb(0, 0, 0); 
  font-size: 190%;
}
h2 { 
  color: rgb(0, 0, 0); 
  font-size: 140%;
}

/* Navigationsleiste */
.nav1 {
  background-color:#f2e07847;
  padding: 1.5%;
  margin: 0%;
  font-size:100%;
}

/* Lokales Menü -> Anpassung Bootstrap */
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: rgb(255, 255, 255);
}
.btn-primary:hover {
  background-color: #ffd50083;
  border-color: #ffd50083;
  color: rgb(4, 4, 4);
}

/* für Logo (Bild) */
.logo {
  width:110%;
  display: flex;
  /* horizontal */
  justify-content: center;
  /* vertikal */
  align-items: center;
}

/* für Einstellung der Leserichtung inkl. Button */
button {
  background-color: #cdcdce28;
  border-radius: 10% #cdcdce28;
  border: none;
  text-align: center;
  font-size: 90%;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  position:absolute;  
    top: 5%;
    right: 5%; /* Abstand rechts */
}
/* Leserichtung rechts nach Links */
.rtl {
  direction: rtl;
  text-align: right;
}
/* Leserichtung Links nach Rechts */
.ltr {
  direction: ltr;
  text-align: left;
}

/* Tabelle */
.table-wrapper {
  overflow-x: auto;
}
table {
  width: 95%;
  background-color:white;
  border-collapse: separate;
  border:none;
  padding: 2%;
  padding-left: 2%;
}
th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 100%;
  color:white;
  background-color: black;
  padding: 1%;
  text-align: center;
}
/* Pfeil Sortierung oben */ 
.upArrow::after { 
  content: "\2191";
  text-shadow: 1px 1px 0px white; 
  position: absolute;
} 
  /* Pfeil Sortierung unten */ 
.dnArrow::after { 
  content: "\2193";  
  text-shadow: 1px 1px 0px white; 
  position: absolute;
} 
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #f2e07886;
  padding: 1%;
  text-align: left;
}